.login-link-active {
    padding: 0;
    margin: 0;
    text-align: left;
    color: tomato;
    font-weight: normal;
    font-size: 3vw;
}

.login,
.login-link {
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}