/*width: 100vw; and height: 100vh stretch to the full width and height of the device*/
#main-container-fluid {
    padding: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 5% 20% 6% 14% 2% 50% 3%;
    grid-template-areas:
      "header"
      "logo"
      "moto"
      "start"
      "title-gallery"
      "carousel-container"
      "slide-bar";
    /*grid-template-rows: auto;*/
  }
  
  .header,
  .slide-bar {
    display: flex;
    top: 0;
    left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    width: 100%;
    height: auto;
    background: rgb(240, 85, 13);
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .logoImg {
    object-fit: cover;
    width: 70%;
  }
  
  .arrow,
  .motoTxt {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .arrowImg {
    position: relative;
    object-fit: contain;
    width: 25%;
    cursor: pointer;
  }
  
  .titleGalleryTxt {
    margin: 0;
    padding: 0;
    padding-left: 50px;
  }

  .motoTxt,
  .titleGalleryTxt {
    font-size: 2.5em;
    font-weight: bolder;
    color: tomato;
  }

  .motoTxt {
    text-align: center;
  }

  .titleGalleryTxt {
    text-align: left;
  }

  .carousel-container {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /*width: 100%;
    height: auto;
    overflow: scroll;*/
}