.linkHome {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgb(240, 85, 13);
  }

  .homeImg {
    object-fit: contain;
    width: 7.5%;
    height: auto;
  }