.login-reg {
  margin-left: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.login-reg-icon {
  object-fit: contain;
  width: 9%;
  cursor: pointer;
  position: absolute;
}

.modal-login-reg {
  padding-left: 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  overflow: hidden;
  transform: translate(-85%, 75%);
  background: rgb(205, 200, 200);
  width: 95%;
  height: 100px;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}