/*---MAIN CONTAINER---*/
.itinerary {
    border-radius: 10px;
    border-color: tomato;
    border-style: solid;
    border-width: 8px;
    padding: 0;
    margin-bottom: 30px;
    width: 840px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

/*---SECTION TEXT AND PHOTO---*/

/*---TEXT---*/
.grid-itinerary {
    font-size: 150%;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
}

.left,
.right {
    position: relative;
    padding: 0;
    margin: 0;
}

.right {
    display: grid;
    grid-template-areas:
        "line-1"
        "line-2"
        "line-3";
    overflow: hidden;
}

.line-1,
.line-2,
.line-3 {
    position: relative;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.line-1,
.line-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.line-2 {
    position: relative;
    display: grid;
    grid-template-columns: 33% 33% 34%;
}

/*---PHOTO---*/
.itinerary-profile-img-container {
    margin-top: 10px;
    margin-left: 15px;
    width: 100%;
    height: auto;
    position: relative;
}

.itinerary-profile-img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
    border-color: tomato;
    border-style: solid;
    border-width: 8px;
}

/*---SECTION BUTTON AND ACTIVITY---*/

/*---ACTIVITY CONTAINER---*/
.flap-content {
    position: relative;
    height: 100%;
    width: 840px;
    z-index: 200;
    transform: translateY(0);
    transition: transform 0.3s ease-out;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    overflow: visible;
}

/*0 porque es el drawer lateral abierto*/
.flap-content.open {
    transform: translateY(0);
}

.grid-activities {
    padding: 0;
    margin: 0;
    width: 840px;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "activities-list-title"
        "activities-list"
        "activities-list-comments";
    overflow-x: scroll;
    overflow-y: visible;
}

.activities-list-header,
.activities-list-comments,
.activity-title {
    position: relative;
    height: 100%;
    width: ;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.activities-list-header,
.activities-list-comments {
    justify-content: flex-start;
}

.activity-title {
    justify-content: center;
}

.activities-list {
    position: relative;
    height: 100%;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: visible;
}

.activity-container {
    position: relative;
    height: 100%;
    width: auto;
    margin: 0;
    display: flex;
}

.activity-img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
    border-color: tomato;
    border-style: solid;
    border-width: 8px;
}

h2.itinerary-title,
p.itinerary-likes,
p.itinerary-duration,
p.itinerary-price,
p.itinerary-hashtags {
    margin: 3;
    padding: 3;
}