/*---MAIN CONTAINER---*/
.itinerary {
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    border-color: tomato;
    border-style: solid;
    border-width: 8px;
    padding: 0;
    margin-bottom: 10px;
    width: 840px;
    height: auto;
    max-height: none;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

/*
/*---SECTION TEXT AND PHOTO---*/

/*---TEXT---*/
.grid-itinerary {
    font-size: 150%;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
}

.left,
.right,
.line-4 {
    position: relative;
    padding: 0;
    margin: 0;
}

.right {
    display: grid;
    grid-template-areas:
        "line-1left""line-1right"
        "line-2"
        "line-3";
}

.line-1,
.line-2,
.line-3,
.line-4 {
    position: relative;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.line-1,
.line-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.line-1 {
    display: grid;
    grid-template-columns: 75% 25%;
}

.line-2 {
    display: grid;
    grid-template-columns: 33% 33% 34%;
}

/*---PHOTO---*/
.itinerary-profile-img-container {
    margin-top: 10px;
    margin-left: 15px;
    width: 100%;
    height: auto;
    position: relative;
}

.itinerary-profile-img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
    border-color: tomato;
    border-style: solid;
    border-width: 8px;
}

/*---SECTION BUTTON AND ACTIVITY---*/

/*---ACTIVITY CONTAINER---*/
.flap-content-button {
    cursor: pointer;
    position: relative;
    height: auto;
    max-height: none;
    transition: 0.4s;
    width: 840px;
    border: none;
    text-align: center;
    outline: none;
    padding: 15px;
}

.grid-collapsible {
    padding: 0;
    margin: 0;
    width: 840px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "activities-list-title"
        "activities-list"
        "comments-list-title"
        "comments-list";
    height: auto;
    max-height: none;
    transition: max-height 0.5s ease-out;
}

.activities-list-title,
.comments-list-title,
.activity-title {
    position: relative;
    height: auto;
    max-height: none;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.activities-list-title,
.comments-list-title {
    justify-content: flex-start;
}

.activity-title,
.activity-img {
    justify-content: center;
}

.activities-list,
.comments-list,
.comment {
    position: relative;
    height: auto;
    max-height: none;
    width: auto;
    margin: 0;
}

.activities-list {
    justify-content: space-around;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
}

.comments-list  {
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
}

.activity-container {
    position: relative;
    height: auto;
    max-height: none;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

.activity-img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
    border-color: tomato;
    border-style: solid;
    border-width: 8px;
}

h2.itinerary-title,
p.itinerary-likes,
p.itinerary-duration,
p.itinerary-price,
p.itinerary-hashtags {
    margin: 3px;
    padding: 5px;
}