.container-itineraries-list {
    padding: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 25% 10% 60% 5%;
    grid-template-areas:
        "itineraries-header"
        "header-itinerary-text"
        "container-itinerary"
        "back-home"
}

.itineraries-list {
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
}