/*Global*/
* {
    padding: 0;
    margin: 0;
  }
  
  /*width: 100vw; and height: 100vh stretch to the full width and height of the device*/
  #main-container-fluid {
    padding: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 5% 15% 7.5% 7.5% 5% 55% 5%;
    grid-template-areas:
      "header"
      "logo"
      "moto"
      "arrow"
      "title-gallery"
      "carousel-container"
      "slide-Bar";
    /*grid-template-rows: auto;*/
  }
  
  .header,
  .slide-bar {
    display: flex;
    /*top: 0;
    left: 0;*/
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    background: rgb(240, 85, 13);
  }
  
  .slide-bar {
  justify-content: space-evenly;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .logoImg {
    object-fit: cover;
    width: 60%;
  }
  
  .arrow,
  .motoTxt {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
  }
  
  .arrowImg {
    object-fit: contain;
    width: 15%;
    position: fixed;
    cursor: pointer;
  }
  
  .titleGalleryTxt {
    margin: 0;
    padding: 0;
    padding-left: 50px;
  }

  .carousel-container {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /*width: 100%;
    height: auto;
    overflow: scroll;*/
}